extends layout 
 
block content 
  h1= title 
 
  form(id='electronicsForm', action="/resource/electronics", method="POST") 
    div.form-group 
        label.electronicsAttr(for='electronics_product') electronics type 
        input#electronics_product(type="text")(type='text', name='electronics_product') 
    div.form-group 
        label.electronicsAttr(for='size') electronics size 
        input#size(type='number', name='size') 
    div.form-group 
        label.electronicsAttr(for='price') electronics cost 
        input#cost(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['electronicsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });
    